# Git
.git
.gitignore

# Node modules
frontend/node_modules

# Build output
frontend/dist

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.*

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db
